<?xml version="1.0" encoding="UTF-8"?>
<package schemaVersion="1.3" xmlns:xs="http://www.w3.org/2001/XMLSchema-instance" xs:noNamespaceSchemaLocation="PACK.xsd">
  <vendor>MBED</vendor>
  <name>{{target}}_{{toolchain}}</name>
  <description> TODO: Fill later </description>
  <url>developer.mbed.org/pack</url>
  <releases>
    <release version="5.5.4">Generated {{time}}</release>
  </releases>
  <conditions>
    <condition id="Everything">
      <require Dname="{{device_name}}"/>
      <require Tcompiler="{{compreq}}"/>
      <deny Cclass="CMSIS" Cgroup="RTOS"/>
    </condition>
    <condition id="Everything-and-mbed">
      <require Cclass="mbed OS" Cgroup="Core" Cversion="5.5.4"/>
      <require condition="Everything"/>
    </condition>
  </conditions>
  <extensions>
  </extensions>
  <components>
    <component Cclass="mbed OS" Cgroup="Core" Cversion="5.5.4" condition="Everything">
      <description></description>
      <RTE_Components_h>
        {%- for name, value in syms %}
#define {{name}} {% if value %} {{value}} {% endif %}
        {%- endfor %}
#include "{{preinclude}}"
      </RTE_Components_h>
      <files>
        {%- for src in c_files %}
        <file name="{{src|escape}}" category="sourceC"/>
        {%- endfor -%}
        {%- for src in s_files %}
        <file name="{{src|escape}}" category="sourceAsm"/>
        {%- endfor -%}
        {%- for src in cpp_files %}
        <file name="{{src|escape}}" category="sourceCpp"/>
        {%- endfor -%}
        {%- for src in headers %}
        <file name="{{src|escape}}" category="header"/>
        {%- endfor -%}
        {%- for src in include_paths %}
        <file name="{{src|escape}}" category="include"/>
        {%- endfor -%}
        {%- for src in object_files %}
        <file name="{{src|escape}}" category="object"/>
        {%- endfor -%}
        {%- for src in libraries %}
        <file name="{{src|escape}}" category="library"/>
        {%- endfor -%}
        <file name="{{linker_script}}" category="linkerScript"/>
      </files>
    </component>
    {%- for feature, data in features.iteritems() %}
    <component Cclass="mbed OS" Cgroup="{{feature|replace('_', ' ')|title}}" condition="Everything-and-mbed" Cversion="5.5.4">
      <description></description>
      <files>
        {%- for src in data.c_files %}
        <file name="{{src|escape}}" category="sourceC"/>
        {%- endfor -%}
        {%- for src in data.s_files %}
        <file name="{{src|escape}}" category="sourceAsm"/>
        {%- endfor -%}
        {%- for src in data.cpp_files %}
        <file name="{{src|escape}}" category="sourceCpp"/>
        {%- endfor -%}
        {%- for src in data.headers %}
        <file name="{{src|escape}}" category="header"/>
        {%- endfor -%}
        {%- for src in data.include_paths %}
        <file name="{{src|escape}}" category="include"/>
        {%- endfor -%}
        {%- for src in data.object_files %}
        <file name="{{src|escape}}" category="object"/>
        {%- endfor -%}
        {%- for src in data.libraries %}
        <file name="{{src|escape}}" category="library"/>
        {%- endfor -%}
      </files>
    </component>
    {%- endfor %}
  </components>
</package>
